extends layout

block content
  h1= title
  .container-fluid
    .row
      -
        let result = results
      each item, index in result
        .col-sm-2(onclick=`buy(${index})`)
          div elephant_Habitat: #{item.elephant_Habitat}
          div elephant_Weight: #{item.elephant_Weight}
          div elephant_Lifespan: #{item.elephant_Lifespan}
          div elephant_TuskLength: #{item.elephant_TuskLength}

  script.
    function buy(index){
      alert(`You purchased item ${index}.`);
    }
