extends layout

block content
  h1= title
  - let destcreate = `dispatch(\"/elephants/create\")`
  button.btn(class="btn-primary ml-1", onclick=destcreate) Create New Elephant
  .container-fluid
    .row      
      - let result = results
      each item, index in result
        .col-sm-2(onclick=`buy(${index})`)
          div elephant_Habitat: #{item.elephant_Habitat}
          div elephant_Weight: #{item.elephant_Weight}
          div elephant_Lifespan: #{item.elephant_Lifespan}
          div elephant_TuskLength: #{item.elephant_TuskLength}
          - let destination = `dispatch(\"/elephants/update?id=${item._id}\")`
          button.btn(class="btn-primary ml-1", onclick=destination) Update
          - let destdetail = `dispatch(\"/elephants/detail?id=${item._id}\")`
          button.btn(class="btn-info ml-1", onclick=destdetail) Detail
          - let destdelete = `dispatch(\"/elephants/delete?id=${item._id}\")`
          button.btn(class="btn-danger ml-1", onclick=destdelete) Delete

  script.
    function buy(index){
      alert(`You purchased item ${index}.`);
    }
    function dispatch(path){
      window.location.href = path;
    }
